body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(236, 204, 210);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
}

h1,
h3,
h2 {
  color: black;
}
#scores {
  display: flex;
  justify-content: space-evenly;
  gap: 35px;
}

#rps-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 3px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sub-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

#button-container button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 0 2px;
  cursor: pointer;
}

#button-container button:hover {
  background-color: aliceblue;
}

#results-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 3px;
  text-align: center;
  margin-top: 20px;
  height: 200px;
  width: 400px;
  display: none;
}
