body {
  background-color: rgb(236, 204, 210);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

h1,
h3,
h2 {
  color: white;
}

#button-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

#button-container button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 0 2px;
  cursor: pointer;
}

#button-container button:hover {
  background-color: aliceblue;
}

#results-container {
  background-color: white;
  box-shadow: 0 0 4px;
  text-align: center;
  margin-top: 20px;
  height: 500px;
  width: 50%;
  display: none;
}

#results h1 {
    color: black
}
